@tailwind base;
@tailwind components;
@tailwind utilities;

.exercise-list-container {
    position: relative;
    height: 500px; /* set the desired height */
  }
  
  .exercise-list-container > * {
    height: 100%;
  }
  
  .exercise-list-container::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
  }
  
  .exercise-list-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the scrollbar track */
  }
  
  .exercise-list-container::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar thumb */
  }
  
  .exercise-list-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar thumb on hover */
  }
  
  .exercise-list-container table {
    margin-right: 10px; /* add margin to the right to account for the scrollbar */
  }
  
  .exercise-list-container table td:last-child {
    padding-right: 20px; /* add padding to the last column to account for the scrollbar */
  }
  
  .exercise-list-container table thead th:last-child {
    padding-right: 20px; /* add padding to the last column to account for the scrollbar */
  }
  
  .exercise-list-container table tbody tr:last-child td {
    border-bottom: none;
  }

  